.awesome{
    display: flex;
    flex-direction: column;
    position: relative;
}

.awesome > :nth-child(1){
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bold;
}

.awesome > :nth-child(2){
    color: var(--orange);
    font-size: 2.5rem;
    font-weight: bold;
}
.awesome > :nth-child(3){
    color: var(--grayy);
    font-size: 14px;
}

.services__button{
    width: 8rem;
    height: 2rem;
    margin-top: 1rem;
}

.button{
    border-radius: 34px;
    border: none;
    color: white;
    font-size: 16px;
    padding: 11px 26px 11px 26px;
    background: linear-gradient(180deg, #fdc50f 26.71%, #fb982f 99.36%);
    box-shadow: 0px 20px 24px 3px rgba(251, 161, 40, 0.42);
  }

  .button:hover{
    background: white;
    cursor: pointer;
    color: var(--orange);
    border: 1px solid var(--orange);
  }


  .blur{
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    background: #edd0ff;
    filter: blur(72px);
    z-index: -9;
    top: 18%;
    left: 56%;

  }

  
  .services__blur1{
    top: 13rem;
    left: -18rem;
  }

  .works{
    padding: 0 3rem 0 3rem;
    display: flex;
    height: 90vh;
    margin-top: 4rem;
  }

  /* right side */

  .works__right{
    position: relative;
  }

  .works__mainCircle{
    left: 9rem;
    position: relative;
    width: 18rem;
    height: 18rem;
    border-radius: 100%;
    box-shadow: var(--smboxShadow);
    top: 2rem;
    background: white;
  }

  .works__mainCircle > *{
    position: absolute;
  }

  .works__mainCircle > :nth-child(1){
    top: -3rem;
    left: 6rem;
  }

  .works__mainCircle > :nth-child(2){
    top: 6rem;
    left: -3rem;
  }

  .works__mainCircle > :nth-child(3){
    top: 6rem;
    left: 5rem;
  }

  .works__mainCircle > :nth-child(4){
    top: 15rem;
    left: 5rem;
  }

  .works__mainCircle > :nth-child(5){
    top: 6rem;
    left: 13rem;
  }

  .works__secCircle{
    width: 6rem;
    height: 6rem;
    position: absolute;
    border-radius: 100%;
    border: 5px solid #ebebeb;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    box-shadow: var(--smboxShadow);
    background: white;
  }

  .works__secCircle > img{
    transform: scale(0.6);
  }

  .works__backCircle{
    position: absolute;
    height: 13rem;
    width: 13rem;
    border-radius: 100%;
    z-index: -1;
  }

  .blueCircle{
    background: #1949B8;
    left: 18rem;
    top: 0rem;
  }

  .yellowCircle{
    background: #F5C31C;
    left: 18rem;
    top: 8rem;
  }


